@model JewelryStore.Models.MComponent

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MComponent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="InStock" /> @Html.DisplayNameFor(model => model.InStock)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="mID" class="control-label"></label>
                <select asp-for="mID" class ="form-control" asp-items="ViewBag.mID"></select>
            </div>
            <div class="form-group">
                <label asp-for="jtID" class="control-label"></label>
                <select asp-for="jtID" class ="form-control" asp-items="ViewBag.jtID"></select>
            </div>
            <div class="form-group">
                <label asp-for="pID" class="control-label"></label>
                <select asp-for="pID" class ="form-control" asp-items="ViewBag.pID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
